# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [4]:
# chipo.head(15)
print(chipo['choice_description'][4])
chipo.head(15)

[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
14,7,1,Chips and Guacamole,NaN,$4.45

### Step 5. What is the number of observations in the dataset?

In [5]:
chipo.info()     #  Note:  "order_id              4622 non-null int64", etc.   

# OR

chipo.shape[0]
# 4622 observations

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

4622

### Step 6. What is the number of columns in the dataset?

In [6]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [7]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [139]:
chipo.item_name.value_counts().head(1)

# Signature: chipo.item_name.value_counts(normalize=False, sort=True, ascending=False, bins=None, dropna=True)
# Docstring:
# Returns object containing counts of unique values.

# The resulting object will be in descending order so that the
# first element is the most frequently-occurring element.
# Excludes NA values by default.

# Parameters
# ----------
# normalize : boolean, default False
#     If True then the object returned will contain the relative
#     frequencies of the unique values.
# sort : boolean, default True
#     Sort by values
# ascending : boolean, default False
#     Sort in ascending order
# bins : integer, optional
#     Rather than count values, group them into half-open bins,
#     a convenience for pd.cut, only works with numeric data
# dropna : boolean, default True
#     Don't include counts of NaN.

# Returns
# -------
# counts : Series

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. How many items were ordered?

In [11]:
mostOrd = chipo.item_name.value_counts().max() #or mostOrd = chipo["item_name"].max()
print(mostOrd)
mostOrd = chipo["item_name"].value_counts().max()
print(mostOrd)

726
726

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
chipo.choice_description.value_counts().head()    # Diet Coke

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [13]:
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

### Step 13. How much was the revenue for the period in the dataset?

In [16]:
# create a list of prices
prices = [float(value[1:-1]) for value in chipo.item_price] # strip the dollar sign and trailing space
print(value)
total = sum(prices) #sum the itens
print(total)

print("The revenue of the period was: " + "${0:.2f}".format(total))

$8.75
34500.16
The revenue of the period was: $34500.16

### Step 14. How many orders were made in the period?

In [17]:
orders = len((set([order for order in chipo.order_id])))
orders

# Docstring:
# len(object) -> integer
# Return the number of items of a sequence or collection.

# A set is an unordered collection of unique elements. Can think of them like dicts, but keys only, no values. A set
# can be created in 2 ways: via the 'set' function or using a set literal with curly braces.

1834

### Step 15. What is the average amount per order?

In [18]:
avg_order = total / orders
print("total: ", total)

print "The average order is: $%s" % round(avg_order, 2)

# Docstring:
# round(number[, ndigits]) -> floating point number

# Round a number to a given precision in decimal digits (default 0 digits).
# This always returns a floating point number.  Precision may be negative.

('total: ', 34500.16000000046)
The average order is: $18.81

### Step 16 How many different itens are sold?

In [19]:
len(chipo.item_name.unique())

50