# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Apply/US%20Crime%20Rates/United_States_Crime_Rates_1960_2014.csv).

The header and first few rows of this dataset:

Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft

1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200

1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000

1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800

1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300

1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900

### Step 3. Assign it to a variable called crime.

In [2]:
# url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
url = "/Users/markyashar/sf16_ids1/class_materials/pandas_exercises/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
crime = pd.read_csv(url)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 4. What is the type of the columns?

In [3]:
crime.info()  # Note that the type of the data in the 'Year' column is int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
Year                  55 non-null int64
Population            55 non-null int64
Total                 55 non-null int64
Violent               55 non-null int64
Property              55 non-null int64
Murder                55 non-null int64
Forcible_Rape         55 non-null int64
Robbery               55 non-null int64
Aggravated_assault    55 non-null int64
Burglary              55 non-null int64
Larceny_Theft         55 non-null int64
Vehicle_Theft         55 non-null int64
dtypes: int64(12)
memory usage: 5.2 KB

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [4]:
# pd.to_datetime(crime)
crime.Year = pd.to_datetime(crime.Year, format='%Y')

# Signature: pd.to_datetime(*args, **kwargs)
# Docstring:
# Convert argument to datetime.

# Parameters
# ----------
# arg : string, datetime, list, tuple, 1-d array, or Series
# errors : {'ignore', 'raise', 'coerce'}, default 'raise'

#     - If 'raise', then invalid parsing will raise an exception
#     - If 'coerce', then invalid parsing will be set as NaT
#     - If 'ignore', then invalid parsing will return the input
# dayfirst : boolean, default False
#     Specify a date parse order if `arg` is str or its list-likes.
#     If True, parses dates with the day first, eg 10/11/12 is parsed as
#     2012-11-10.
#     Warning: dayfirst=True is not strict, but will prefer to parse
#     with day first (this is a known bug, based on dateutil behavior).
# yearfirst : boolean, default False
#     Specify a date parse order if `arg` is str or its list-likes.

#     - If True parses dates with the year first, eg 10/11/12 is parsed as
#       2010-11-12.
#     - If both dayfirst and yearfirst are True, yearfirst is preceded (same
#       as dateutil).

#     Warning: yearfirst=True is not strict, but will prefer to parse
#     with year first (this is a known bug, based on dateutil beahavior).

# utc : boolean, default None
#     Return UTC DatetimeIndex if True (converting any tz-aware
#     datetime.datetime objects as well).
# box : boolean, default True

#     - If True returns a DatetimeIndex
#     - If False returns ndarray of values.
# format : string, default None
#     strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
#     all the way up to nanoseconds.
# exact : boolean, True by default

#     - If True, require an exact format match.
#     - If False, allow the format to match anywhere in the target string.

# unit : unit of the arg (D,s,ms,us,ns) denote the unit in epoch
#     (e.g. a unix timestamp), which is an integer/float number.
# infer_datetime_format : boolean, default False
#     If no `format` is given, try to infer the format based on the first
#     datetime string. Provides a large speed-up in many cases.

# Returns
# -------
# ret : datetime if parsing succeeded.
#     Return type depends on input:

#     - list-like: DatetimeIndex
#     - Series: Series of datetime64 dtype
#     - scalar: Timestamp

#     In case when it is not possible to return designated types (e.g. when
#     any element of input is before Timestamp.min or after Timestamp.max)
#     return will have datetime.datetime type (or correspoding array/Series).

# Examples
# --------
# Take separate series and convert to datetime

# >>> import pandas as pd
# >>> i = pd.date_range('20000101',periods=100)
# >>> df = pd.DataFrame(dict(year = i.year, month = i.month, day = i.day))
# >>> pd.to_datetime(df.year*10000 + df.month*100 + df.day, format='%Y%m%d')
# 0    2000-01-01
# 1    2000-01-02
# ...
# 98   2000-04-08
# 99   2000-04-09
# Length: 100, dtype: datetime64[ns]

# Or from strings

# >>> df = df.astype(str)
# >>> pd.to_datetime(df.day + df.month + df.year, format="%d%m%Y")
# 0    2000-01-01
# 1    2000-01-02
# ...
# 98   2000-04-08
# 99   2000-04-09
# Length: 100, dtype: datetime64[ns]

# Date that does not meet timestamp limitations:

# >>> pd.to_datetime('13000101', format='%Y%m%d')
# datetime.datetime(1300, 1, 1, 0, 0)
# >>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')

crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 12 columns):
Year                  55 non-null datetime64[ns]
Population            55 non-null int64
Total                 55 non-null int64
Violent               55 non-null int64
Property              55 non-null int64
Murder                55 non-null int64
Forcible_Rape         55 non-null int64
Robbery               55 non-null int64
Aggravated_assault    55 non-null int64
Burglary              55 non-null int64
Larceny_Theft         55 non-null int64
Vehicle_Theft         55 non-null int64
dtypes: datetime64[ns](1), int64(11)
memory usage: 5.2 KB

### Step 6. Set the Year column as the index of the dataframe

In [5]:
crime = crime.set_index('Year', drop = True)

# Signature: crime.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)
# Docstring:
# Set the DataFrame index (row labels) using one or more existing
# columns. By default yields a new object.

# Parameters
# ----------
# keys : column label or list of column labels / arrays
# drop : boolean, default True
#     Delete columns to be used as the new index
# append : boolean, default False
#     Whether to append columns to existing index
# inplace : boolean, default False
#     Modify the DataFrame in place (do not create a new object)
# verify_integrity : boolean, default False
#     Check the new index for duplicates. Otherwise defer the check until
#     necessary. Setting to False will improve the performance of this
#     method

# Examples
# --------
# >>> indexed_df = df.set_index(['A', 'B'])
# >>> indexed_df2 = df.set_index(['A', [0, 1, 2, 0, 1, 2]])
# >>> indexed_df3 = df.set_index([[0, 1, 2, 0, 1, 2]])

crime.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 7. Delete the Total column

In [6]:
del crime['Total']
crime.head()

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [7]:
# select the first two columns from the origional dataset
population = crime.iloc[:, 0:1]
# print(population)
# change the index for decades
population.index = (population.index.year//10)*10

# Type:        Int64Index
# String form:
# Int64Index([1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1960, 1970,
#            1970, 1 <...>      2000, 2000, 2000, 2000, 2000, 2000, 2010, 2010, 2010, 2010, 2010],
#            dtype='int64')
# Length:      55
# File:        ~/anaconda/lib/python2.7/site-packages/pandas/indexes/numeric.py
# Docstring:
# Immutable ndarray implementing an ordered, sliceable set. The basic object
# storing axis labels for all pandas objects. Int64Index is a special case
# of `Index` with purely integer labels. This is the default index type used
# by the DataFrame and Series ctors when no explicit index is provided by the
# user.

# Parameters
# ----------
# data : array-like (1-dimensional)
# dtype : NumPy dtype (default: int64)
# copy : bool
#     Make a copy of input ndarray
# name : object
#     Name to be stored in the index

# Notes
# -----
# An Index instance can **only** contain hashable objects



# group the index by decades and selecting the max value from the Population column 
population1 = population.groupby(population.index).max()
print(population1)

# group the dataframe by decades and sum all values, including population
crime = crime.groupby((crime.index.year//10)*10).sum()

# passing the right population value (max value) to the 
crime['Population'] = population1['Population']
crime

      Population
1960   201385000
1970   220099000
1980   248239000
1990   272690813
2000   307006550
2010   318857056

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
1960,201385000,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970,220099000,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980,248239000,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990,272690813,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000,307006550,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010,318857056,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### Step 9. What is the mos dangerous decade to live in the US?

In [10]:
# apparently the 90s (the decade of 1990) was a pretty dangerous time in the US
crime.idxmax(0)

# Signature: crime.idxmax(axis=0, skipna=True)
# Docstring:
# Return index of first occurrence of maximum over requested axis.
# NA/null values are excluded.

# Parameters
# ----------
# axis : {0 or 'index', 1 or 'columns'}, default 0
#     0 or 'index' for row-wise, 1 or 'columns' for column-wise
# skipna : boolean, default True
#     Exclude NA/null values. If an entire row/column is NA, the result
#     will be first index.

# Returns
# -------
# idxmax : Series

# Notes
# -----
# This method is the DataFrame version of ``ndarray.argmax``.

Population            2010
Violent               1990
Property              1990
Murder                1990
Forcible_Rape         1990
Robbery               1990
Aggravated_assault    1990
Burglary              1980
Larceny_Theft         1990
Vehicle_Theft         1990
dtype: int64

### Step 10. Find out which Year over Year delta was

In [ ]:
# ??

### Step 11. How many items were orderd in total?

In [12]:
f = lambda x: x.max() - x.min()

# crime['Violent'].apply(f)
print(crime.apply(f, axis=1))  # ??

1960    201278820
1970    219906770
1980    248032561
1990    272479149
2000    306843482
2010    318784189
dtype: int64

### Step 12. How many orders have more than 1 item?

### Step 13. How much was the revenue for the period in the dataset?

### Step 14. How many orders were made in the period?

### Step 15. What is the average amount per order?

### Step 16. How many different itens are sold?