# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [5]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv).

Data Set Information:

This dataset is a slightly modified version of the dataset provided in the StatLib library. In line with the use by Ross Quinlan (1993) in predicting the attribute "mpg", 8 of the original instances were removed because they had unknown values for the "mpg" attribute. The original dataset is available in the file "auto-mpg.data-original". 

"The data concerns city-cycle fuel consumption in miles per gallon, to be predicted in terms of 3 multivalued discrete and 5 continuous attributes." (Quinlan, 1993)


Attribute Information:

1. mpg: continuous 
2. cylinders: multi-valued discrete 
3. displacement: continuous 
4. horsepower: continuous 
5. weight: continuous 
6. acceleration: continuous 
7. model year: multi-valued discrete 
8. origin: multi-valued discrete 
9. car name: string (unique for each instance)

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [7]:
# cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv")
# cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv")

cars1 = pd.read_csv("/Users/markyashar/sf16_ids1/class_materials/pandas_exercises/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("/Users/markyashar/sf16_ids1/class_materials/pandas_exercises/05_Merge/Auto_MPG/cars2.csv")

print cars1.head()
print cars2.head()

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:
cars1 = cars1.loc[:, "mpg":"car"]

# Docstring:
# Purely label-location based indexer for selection by label.

# ``.loc[]`` is primarily label based, but may also be used with a
# boolean array.

# Allowed inputs are:

# - A single label, e.g. ``5`` or ``'a'``, (note that ``5`` is
#   interpreted as a *label* of the index, and **never** as an
#   integer position along the index).
# - A list or array of labels, e.g. ``['a', 'b', 'c']``.
# - A slice object with labels, e.g. ``'a':'f'`` (note that contrary
#   to usual python slices, **both** the start and the stop are included!).
# - A boolean array.

# ``.loc`` will raise a ``KeyError`` when the items are not found.

cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [14]:
print cars1.shape # cars1 dataset has 198 observations
print cars2.shape # cars2 dataset has 200 observations

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [9]:
cars = cars1.append(cars2)

# Signature: cars1.append(other, ignore_index=False, verify_integrity=False)
# Docstring:
# Append rows of `other` to the end of this frame, returning a new
# object. Columns not in this frame are added as new columns.

# Parameters
# ----------
# other : DataFrame or Series/dict-like object, or list of these
#     The data to append.
# ignore_index : boolean, default False
#     If True, do not use the index labels.
# verify_integrity : boolean, default False
#     If True, raise ValueError on creating index with duplicates.

# Returns
# -------
# appended : DataFrame

# Notes
# -----
# If a list of dict/series is passed and the keys are all contained in
# the DataFrame's index, the order of the columns in the resulting
# DataFrame will be unchanged.

# See also
# --------
# pandas.concat : General function to concatenate DataFrame, Series
#     or Panel objects

# Examples
# --------

# >>> df = pd.DataFrame([[1, 2], [3, 4]], columns=list('AB'))
# >>> df
#    A  B
# 0  1  2
# 1  3  4
# >>> df2 = pd.DataFrame([[5, 6], [7, 8]], columns=list('AB'))
# >>> df.append(df2)
#    A  B
# 0  1  2
# 1  3  4
# 0  5  6
# 1  7  8

# With `ignore_index` set to True:

# >>> df.append(df2, ignore_index=True)
#    A  B
# 0  1  2
# 1  3  4
# 2  5  6
# 3  7  8

cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
5,15.0,8,429,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199,97,2774,15.5,70,1,amc hornet
17,21.0,6,200,85,2587,16.0,70,1,ford maverick
18,27.0,4,97,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104,95,2375,17.5,70,2,saab 99e
23,26.0,4,121,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360,215,4615,14.0,70,1,ford f250
26,10.0,8,307,200,4376,15.0,70,1,chevy c20
27,11.0,8,318,210,4382,13.5,70,1,dodge d200
28,9.0,8,304,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
170,27.0,4,112,88,2640,18.6,82,1,chevrolet cavalier wagon
171,34.0,4,112,88,2395,18.0,82,1,chevrolet cavalier 2-door
172,31.0,4,112,85,2575,16.2,82,1,pontiac j2000 se hatchback
173,29.0,4,135,84,2525,16.0,82,1,dodge aries se
174,27.0,4,151,90,2735,18.0,82,1,pontiac phoenix
175,24.0,4,140,92,2865,16.4,82,1,ford fairmont futura
176,23.0,4,151,?,3035,20.5,82,1,amc concord dl
177,36.0,4,105,74,1980,15.3,82,2,volkswagen rabbit l
178,37.0,4,91,68,2025,18.2,82,3,mazda glc custom l
179,31.0,4,91,68,1970,17.6,82,3,mazda glc custom
180,38.0,4,105,63,2125,14.7,82,1,plymouth horizon miser
181,36.0,4,98,70,2125,17.3,82,1,mercury lynx l
182,36.0,4,120,88,2160,14.5,82,3,nissan stanza xe
183,36.0,4,107,75,2205,14.5,82,3,honda accord
184,34.0,4,108,70,2245,16.9,82,3,toyota corolla
185,38.0,4,91,67,1965,15.0,82,3,honda civic
186,32.0,4,91,67,1965,15.7,82,3,honda civic (auto)
187,38.0,4,91,67,1995,16.2,82,3,datsun 310 gx
188,25.0,6,181,110,2945,16.4,82,1,buick century limited
189,38.0,6,262,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
190,26.0,4,156,92,2585,14.5,82,1,chrysler lebaron medallion
191,22.0,6,232,112,2835,14.7,82,1,ford granada l
192,32.0,4,144,96,2665,13.9,82,3,toyota celica gt
193,36.0,4,135,84,2370,13.0,82,1,dodge charger 2.2
194,27.0,4,151,90,2950,17.3,82,1,chevrolet camaro
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [10]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')

# Docstring:
# ========================
# Random Number Generation
# ========================

# ==================== =========================================================
# Utility functions
# ==============================================================================
# random_sample        Uniformly distributed floats over ``[0, 1)``.
# random               Alias for `random_sample`.
# bytes                Uniformly distributed random bytes.
# random_integers      Uniformly distributed integers in a given range.
# permutation          Randomly permute a sequence / generate a random sequence.
# shuffle              Randomly permute a sequence in place.
# seed                 Seed the random number generator.
# choice               Random sample from 1-D array.

# ==================== =========================================================

# ==================== =========================================================
# Compatibility functions
# ==============================================================================
# rand                 Uniformly distributed values.
# randn                Normally distributed values.
# ranf                 Uniformly distributed floating point numbers.
# randint              Uniformly distributed integers in a given range.
# ==================== =========================================================

# ==================== =========================================================
# Univariate distributions
# ==============================================================================
# beta                 Beta distribution over ``[0, 1]``.
# binomial             Binomial distribution.
# chisquare            :math:`\chi^2` distribution.
# exponential          Exponential distribution.
# f                    F (Fisher-Snedecor) distribution.
# gamma                Gamma distribution.
# geometric            Geometric distribution.
# gumbel               Gumbel distribution.
# hypergeometric       Hypergeometric distribution.
# laplace              Laplace distribution.
# logistic             Logistic distribution.
# lognormal            Log-normal distribution.
# logseries            Logarithmic series distribution.
# negative_binomial    Negative binomial distribution.
# noncentral_chisquare Non-central chi-square distribution.
# noncentral_f         Non-central F distribution.
# normal               Normal / Gaussian distribution.
# pareto               Pareto distribution.
# poisson              Poisson distribution.
# power                Power distribution.
# rayleigh             Rayleigh distribution.
# triangular           Triangular distribution.
# uniform              Uniform distribution.
# vonmises             Von Mises circular distribution.
# wald                 Wald (inverse Gaussian) distribution.
# weibull              Weibull distribution.
# zipf                 Zipf's distribution over ranked data.
# ==================== =========================================================

# ==================== =========================================================
# Multivariate distributions
# ==============================================================================
# dirichlet            Multivariate generalization of Beta distribution.
# multinomial          Multivariate generalization of the binomial distribution.
# multivariate_normal  Multivariate generalization of the normal distribution.
# ==================== =========================================================

# ==================== =========================================================
# Standard distributions
# ==============================================================================
# standard_cauchy      Standard Cauchy-Lorentz distribution.
# standard_exponential Standard exponential distribution.
# standard_gamma       Standard Gamma distribution.
# standard_normal      Standard normal distribution.
# standard_t           Standard Student's t-distribution.
# ==================== =========================================================

nr_owners

array([52519, 24584, 16530, 71477, 63869, 40076, 43902, 61788, 49539,
       68469, 41854, 62681, 68047, 55636, 39420, 71437, 60756, 47757,
       24382, 30083, 28502, 50786, 26548, 70664, 51571, 46447, 47905,
       50125, 29329, 23333, 61014, 70669, 55412, 55172, 23110, 38382,
       32241, 43471, 38688, 24645, 20562, 19357, 21691, 59666, 40500,
       44501, 38071, 63052, 46498, 47223, 57992, 55413, 61466, 28950,
       21958, 62135, 25424, 33947, 27188, 72374, 53243, 70845, 48289,
       17739, 16068, 28778, 50290, 16555, 64734, 64739, 53028, 30332,
       16633, 64492, 72081, 70407, 54940, 61701, 20903, 44624, 59547,
       52502, 60058, 39724, 19347, 24926, 37509, 49409, 25465, 51965,
       56600, 38684, 35826, 56605, 18063, 57333, 38617, 19127, 30152,
       63800, 56530, 68687, 69054, 25290, 67862, 18040, 57376, 50602,
       53028, 34684, 41591, 52530, 67482, 29280, 70804, 26338, 42360,
       35175, 49865, 47764, 35126, 21139, 72583, 16574, 62625, 18663,
       55616, 42233, 33180, 47117, 69279, 54855, 36185, 46296, 51475,
       71675, 47808, 46532, 55484, 55490, 67344, 28363, 27027, 25031,
       24889, 22310, 21304, 26386, 15142, 30144, 65682, 56177, 56035,
       37404, 30082, 30697, 26749, 18575, 22632, 49690, 48453, 59105,
       44064, 66372, 64428, 37701, 22569, 25531, 48032, 26023, 24145,
       47886, 67180, 44494, 18169, 18047, 20877, 45088, 36978, 57348,
       29509, 45559, 26282, 65432, 64365, 30267, 69770, 59302, 34816,
       47598, 60366, 64618, 26414, 29987, 59017, 34665, 64797, 21579,
       40579, 50073, 41430, 55940, 29805, 43310, 32568, 30744, 39553,
       23824, 57209, 47207, 35740, 18462, 60451, 63055, 29857, 37244,
       67966, 53876, 31773, 40200, 49623, 70580, 42989, 72851, 63251,
       23767, 71322, 23769, 64496, 45503, 39083, 46088, 47023, 58027,
       28613, 44182, 49164, 40591, 37550, 52549, 68584, 61187, 47939,
       62089, 50787, 66382, 31201, 21996, 54314, 23881, 22984, 24316,
       22689, 34288, 32867, 65845, 51805, 57665, 16333, 19726, 39966,
       29815, 33197, 47247, 45301, 37512, 15192, 46404, 36924, 51782,
       65429, 72629, 43105, 35971, 72245, 35198, 41641, 55595, 38409,
       60413, 36049, 33074, 36063, 25279, 57271, 56116, 19059, 71396,
       23462, 25436, 72613, 51301, 15562, 22322, 37201, 49622, 56957,
       56070, 25941, 71245, 68997, 60734, 43421, 23078, 45212, 22288,
       20995, 23010, 46497, 55244, 72426, 66219, 41353, 35966, 18781,
       64562, 31610, 35195, 69471, 51817, 64771, 54038, 33588, 59087,
       45407, 21379, 57890, 59700, 59108, 29399, 27923, 65208, 50997,
       23851, 68170, 67612, 42451, 55504, 68243, 65435, 19468, 71755,
       38787, 30523, 51310, 70078, 20708, 26093, 54373, 63631, 20020,
       43030, 54372, 71305, 47346, 30860, 63283, 23373, 68531, 24796,
       71558, 53817, 72134, 24288, 30159, 49936, 71457, 28930, 32322,
       42417, 30421, 40380, 24306, 58083, 25487, 29114, 29696, 16445,
       34870, 35577, 15826, 42039, 42663, 55747, 28960, 63809, 71613,
       28710, 27747, 41278, 38316, 68053, 15560, 37293, 44813, 22733,
       28674, 52209])

### Step 8. Add the column owners to cars

In [11]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,37293
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,44813
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,22733
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,28674
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,52209